/* CSS Document */

body {
	font-family: "Segoe UI";
	background-image: url("../media/background-001.jpg");
	background-attachment: fixed;
}

.content {
	margin: auto;
	max-width: 1000px;
	
	padding: 50px;
	
	background: rgba(240, 240, 240, 0.7);
	border-radius: 20px;
}

h1 {
	font-size: 1.9em;
	
}

h2 {
	font-size: 1.6em;
	margin-top: 40px;
	
}

p {
	font-size: 1.13em;
	
}

img {
	width: 100%;
	border-radius: 10px;
}