/* CSS Document */
html {
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	font-size: 1.12em;
}


body {
	
	background-image: url("../media/background-001.jpg");
	background-attachment: fixed;
}

.content {
	margin: auto;
	max-width: 1000px;
	
	padding: 50px;
	
	background: rgba(240, 240, 240, 0.7);
	border-radius: 20px;
}

h1 {
	font-size: 1.8em;
	
}

h2 {
	font-size: 1.5em;
	margin-top: 40px;
	
}



img {
	width: 100%;
	border-radius: 10px;
}